body {
  padding: 10px;
  font-family: verdana;
  font-size: 15px;
}

h2 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

.film-box {
  width: 250px;
  padding: 25px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  background-color: #d1e0e0;
  align-items: center;
}

.film-list {
  display: flex;
  flex-direction: column;
}

a:link, a:visited {
  color: #5d8989;
  padding: 5px 10px;
  border-radius: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #5d8989;
  color: white;
}

.all-cinemas a {
 border: 2px solid #5d8989;
}
